<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>insertBateau_Controller</servlet-name>
        <servlet-class>controller.insertBateau_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPrevision_controller</servlet-name>
        <servlet-class>controller.insertPrevision_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testController</servlet-name>
        <servlet-class>controller.testController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertIntervalle</servlet-name>
        <servlet-class>controller.insertIntervalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listPrevision_Controller</servlet-name>
        <servlet-class>controller.listPrevision_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profil_controller</servlet-name>
        <servlet-class>controller.profil_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertEscale_controller</servlet-name>
        <servlet-class>controller.insertEscale_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPrestation_controller</servlet-name>
        <servlet-class>controller.insertPrestation_controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertBateau_Controller</servlet-name>
        <url-pattern>/insertBateau_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPrevision_controller</servlet-name>
        <url-pattern>/insertPrevision_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testController</servlet-name>
        <url-pattern>/testController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertIntervalle</servlet-name>
        <url-pattern>/insertIntervalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listPrevision_Controller</servlet-name>
        <url-pattern>/listPrevision_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profil_controller</servlet-name>
        <url-pattern>/profil_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertEscale_controller</servlet-name>
        <url-pattern>/insertEscale_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPrestation_controller</servlet-name>
        <url-pattern>/insertPrestation_controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
